*{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
header{
	position: absolute;
	background-color: #529292;
	width: 100%;


}
ul{

	height:50px;
	/*width: auto;*/
	float: right;
	list-style: none;
	margin-top: 1px;
	

}
ul li{
	display: inline-block;
	margin-top: 20px;
}
ul li a{
	text-decoration: none;
	color: white;
	padding: 5px 20px;
	border: 1px solid #transparent;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #000;

}
ul li.active a{
	background-color: #fff;
	color: #000;

}
.main{
	background-color: #529292;
}
.photo{
	position: absolute;
	margin-top: 55px;


}
header .main ul li a{
			border-radius: 40px;
	}
	img{
		height: 200px;
		width: 240px;
		/*object-fit: cover;
		webkit-object-fit: cover;*/
	}
	@media screen and (max-width: 1000px){
	body
}